<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {%~ include 'partials/metatags.html.twig' ~%}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico')|url }}" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="{{ asset('scss/styles.scss')|url }}" rel="stylesheet" />
  </head>
  <body>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="{{ asset('mp4/bg.mp4')|url }}" type="video/mp4">
    </video>
    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h1 class="mb-3">{{ site.title }}</h1>
              <p class="h2 mb-5">{{ site.baseline }}</p>
              {%- block content ~%}
              {%- if page.content is empty -%}
              <p>{% trans %}Page not found.{% endtrans %}</p>
              <p><a href="{{ url() }}">â† {% trans %}Return{% endtrans %}</a></p>
              {%- else -%}
              {{ page.content }}
              {%- endif -%}
              {%- endblock ~%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        {%- if site.social.twitter.site is defined ~%}
        <li class="list-unstyled-item">
          <a href="https://twitter.com/{{ site.social.twitter.site }}"><i class="fab fa-twitter"></i></a>
        </li>
        {%- endif ~%}
        {%- if site.social.facebook.username is defined ~%}
        <li class="list-unstyled-item">
            <a href="https://facebook.com/{{ site.social.facebook.username }}"><i class="fab fa-facebook-f"></i></a>
        </li>
        {%- endif ~%}
        {%- if site.social.instagram.username is defined ~%}
        <li class="list-unstyled-item">
            <a href="https://instagram.com/{{ site.social.instagram.username }}"><i class="fab fa-instagram"></i></a>
        </li>
        {%- endif ~%}
        {%- if site.social.github.username is defined ~%}
        <li class="list-unstyled-item">
          <a href="https://github.com/{{ site.social.github.username }}"><i class="fab fa-github"></i></a>
        </li>
        {%- endif ~%}
        {%- if site.social.linkedin.username is defined ~%}
        <li class="list-unstyled-item">
            <a href="https://linkedin.com/in/{{ site.social.linkedin.username }}"><i class="fab fa-linkedin"></i></a>
        </li>
        {%- endif ~%}
      </ul>
    </div>
  </body>
</html>
