<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row footer-content">
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="site-info">
          <h5>{{ site.title }}</h5>
          <p>{{ site.description|default('') }}</p>
        </div>
        <div class="footer-social-icons">
          <a href="https://www.linkedin.com/in/kaleemclarkson/" class="footer-social-icon" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://www.youtube.com/@KaleemClarkson" class="footer-social-icon" aria-label="YouTube" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.instagram.com/kaleemclarkson/" class="footer-social-icon" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.threads.com/@kaleemclarkson" class="footer-social-icon" aria-label="Threads" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-threads"></i>
          </a>
          <a href="https://www.facebook.com/kaleemsclarkson" class="footer-social-icon" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 mb-4 mb-md-0">
        <div class="footer-contact">
          <h5>Get In Touch</h5>
          <p>Ready to bring impactful leadership insights to your next event? Let's connect and discuss how we can work together.</p>
          <a href="{{ url() }}#contact-form-section" class="btn btn-primary">Contact Kaleem</a>
         </div>
        <div class="text-md-end">
          <p class="mb-0">&copy; {{ "now"|date("Y") }} {{ site.title }}. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
