<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row footer-content">
      <div class="col-md-6 mb-4 mb-md-0">
        <h5>{{ site.title }}</h5>
        <p>{{ site.description|default('') }}</p>
        <div class="footer-social-icons">
          {%- if site.social.twitter.site is defined ~%}
          <a href="https://twitter.com/{{ site.social.twitter.site }}" class="footer-social-icon" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          {%- endif ~%}
          {%- if site.social.facebook.username is defined ~%}
          <a href="https://facebook.com/{{ site.social.facebook.username }}" class="footer-social-icon" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          {%- endif ~%}
          {%- if site.social.instagram.username is defined ~%}
          <a href="https://instagram.com/{{ site.social.instagram.username }}" class="footer-social-icon" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          {%- endif ~%}
          {%- if site.social.github.username is defined ~%}
          <a href="https://github.com/{{ site.social.github.username }}" class="footer-social-icon" aria-label="GitHub">
            <i class="fab fa-github"></i>
          </a>
          {%- endif ~%}
          {%- if site.social.linkedin.username is defined ~%}
          <a href="https://linkedin.com/in/{{ site.social.linkedin.username }}" class="footer-social-icon" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
          </a>
          {%- endif ~%}
        </div>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{{ url() }}">Home</a></li>
          {%- for item in site.menus.main|default([])|sort_by_weight ~%}
          <li><a href="{{ url(item.url) }}">{{ item.name }}</a></li>
          {%- endfor ~%}
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Contact</h5>
        {%- if site.email is defined -%}
        <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        {%- endif -%}
      </div>
    </div>
    <div class="footer-bottom">
      <p class="mb-0">&copy; {{ "now"|date("Y") }} {{ site.title }}. All rights reserved.</p>
    </div>
  </div>
</footer>
